# You may add here your
# server {
#	...
# }
# statements for each of your virtual hosts to this file

##
# You should look at the following URL's in order to grasp a solid understanding
# of Nginx configuration files in order to fully unleash the power of Nginx.
# http://wiki.nginx.org/Pitfalls
# http://wiki.nginx.org/QuickStart
# http://wiki.nginx.org/Configuration
#
# Generally, you will want to move this file somewhere, and start with a clean
# file but keep this around for reference. Or just disable in sites-enabled.
#
# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.
##

server {

    listen          *:80;
    listen          *:8080;
    #listen          *:8081;
    #server_name     nms*.truepathwireless.com;
    server_name     nmslive;

    #root            /opt/athanasys/worklogsite;
    root            /opt/gigaknot/worklogsite;


    location /static/ { # STATIC_URL
        alias /opt/gigaknot/infinity/static/; # STATIC_ROOT
        expires 30d;
    }
    

    location / {
        include fastcgi_params;
        fastcgi_pass 127.0.0.1:7080;
        fastcgi_split_path_info ^()(.*)$;
    }

}
