<!-- Library -->
<script src="/static/js/jquery-1.11.1.min.js"></script>

<script type="text/javascript" src="/static/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.edit.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.sort.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.filter.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxdata.export.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.export.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.grouping.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgrid.aggregates.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxwindow.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxchart.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxtooltip.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxinput.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript" src="/static/jqwidgets/globalization/globalize.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxdraw.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxgauge.js"></script>
<script type="text/javascript" src="/static/jqwidgets/jqxcombobox.js"></script>
<!-- End library -->